<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>test2</title>
    <script src="../../js/vue.js"></script>
</head>
<body>
<div id="div2">
    <blog-post title="My journey with Vue"></blog-post>
    <blog-post title="Blogging with Vue"></blog-post>
    <blog-post title="Why vue is so fun"></blog-post>
    <br>
    <blog-post v-for="item in items"
               v-bind:title="item.title"
               v-bind:key="item.id"
    ></blog-post>
</div>
<script>
    Vue.component('blog-post', {
        props: ['title'],
        template: '<h3>{{ title }}</h3>'
    })
    new Vue({
        el: '#div2',
        data: {
            items: [
                {id: 1, title: "title 1"},
                {id: 2, title: "title 2"},
                {id: 3, title: "title 3"},
                {id: 4, title: "title 4"}
            ]
        }
    })
</script>
</body>
</html>